{% extends "base.html" %}

{% block head %}
    <title>{{account.address}}</title>
{% endblock %}

{% block bodystart %}    
<script>
var pagination_state = {
    chain_start : {{chain_length}} - 1,
    num_blocks_per_fetch: 50
};

function load_blocks(start, limit)
{
    var url = '/account_blocks/{{account.id}}/'+start+'/'+limit;
    
    $.get(url, function(blocks_html) {
        $('#account-blocks').html(blocks_html);
        pagination_state.chain_start = start;
        pagination_state.num_blocks_per_fetch = limit;
    });
}

$(function() 
{

new Vue({
    el: '#tabs',
    data: { 
        tab: 1 
    }
});

new Vue({
    el: '#account-blocks-pane',
    data: pagination_state
});

$('#transactions-a').tab('show');

load_blocks(pagination_state.chain_start, pagination_state.num_blocks_per_fetch);
        
})
</script>
{% endblock %}

{% block body %}

<div class='container-fluid'>

    <div class='row'>
        <div class='col-1'></div>
        <div class='col-10'>
            <h4>{{account.address}} 
            {% set first_block = account.first_block() %}
            {% set last_block = account.last_block() %}
            {% if first_block %}
                <a class="button" title="First account block" href="/block/{{ first_block.id }}">&larrb;</a>
            {% endif %}
            {% if last_block %}
                <a class="button" title="Last account block" href="/block/{{ last_block.id }}">&rarrb;</a>
            {% endif %}
            {{ nano_org_account(account) }}
            </h4>
            <h5>{% if account.name() %}{{ account.name() }}{% endif %}</h5>
            <br>
            {% if last_block %}
                <h4>{{ last_block.balance() | format_amount6 }}</h4>
            {% endif %}
            {{ "{:,}".format(num_blocks) }} blocks
        </div>
        <div class='col-1'></div>
    </div>
    
    <div>&nbsp;</div>

    <div class='row'>
        <div class='col-1'></div>
        <div id='tabs' class='col-10'>

                <ul id='tabs-ul' class='nav nav-tabs' role='tablist'>
                    <li class='nav-item' v-bind:class='{active: tab == 1}' v-on:click='tab = 1'>
                        <a id='transactions-a' class='nav-link' data-toggle='pill' role='tab' href='#transactions-tab'>Transactions</a>
                    </li>
                    <li class='nav-item' v-bind:class='{active: tab == 2}' v-on:click='tab = 2'>
                        <a class='nav-link' data-toggle='pill' role='tab' href='#unpocketed-tab'>Unpocketed ({{unpocketed_blocks | length}})</a>
                    </li>
                </ul>
                
                <div class='tab-content'>

                    <br>
                    
                    <div id='account-blocks-pane' class='tab-pane' role='tabpanel' v-bind:class='{active: tab == 1}'>
                    
                        <div id='account-blocks-buttons'>
                            <a href="#" onclick="load_blocks(pagination_state.chain_start-pagination_state.num_blocks_per_fetch, pagination_state.num_blocks_per_fetch)">Previous</a>
                            <a href="#" onclick="load_blocks(pagination_state.chain_start+pagination_state.num_blocks_per_fetch, pagination_state.num_blocks_per_fetch)">Next</a>
                        </div>
                        
                        <br>
                        
                        <div id='account-blocks'></div>
                    </div>
                    
                    <div class='tab-pane' role='tabpanel' v-bind:class='{active: tab == 2}'>
                    {% if unpocketed_blocks | length > 0 %}
                        <table class="table table-striped table-sm table-hover" cellpadding=2 cellspacing=2>
                            <thead>
                            <tr>
                                <th>Index
                                <th class='text-center'>Balance
                                <th>Hash
                                <th>Type
                                <th class='text-center'>Amount
                                <th>&nbsp;
                                <th>Account
                                <th>Sister block
                            </tr>
                            </thead>
                            <tbody>
                            {% for sister in unpocketed_blocks %}    
                                <tr>
                                    <td>&nbsp;
                                    <td>&nbsp;
                                    <td>&nbsp;
                                    <td class='text-left text-nowrap'><i>Not pocketed</i>
                                    <td class='text-right text-nowrap'>{{ sister.amount() | format_amount2 }}
                                    <td class='text-center'>FROM
                                    <td class='text-left text-nowrap'><a href="/account/{{ sister.account().id }}">{{ sister.account() | account_link(show_address=False) }}</a>
                                    <td><a href="/block/{{sister.id}}">{{ sister.hash() | format_hash }}</a>
                                </tr>
                            {% endfor %}
                            {% if unpocketed_blocks | length > 0 %}
                                <tr><td class='text-center' colspan="8"><i>There's possibly more unpocketed blocks</i></td>
                            {% endif %}
                            </tbody>
                        </table>
                    {% else %}
                        <i>No unpocketed blocks</i>
                    {% endif %}
                    </div>
                </div>
            
        <div class='col-1'></div>
    </div>

{% endblock %}
