{% macro nano_org_account(account) -%}
    <a target=_blank" title="Look up account on nano.org explorer (opens new tab/window)" href="https://nano.org/en/explore/account/{{ account.address }}">
        <img src="{{ url_for('static', filename='images/nano_org.png') }}">
    </a>
{%- endmacro -%}

{% macro nano_org_block(block) -%}
    <a target=_blank" title="Look up block on nano.org explorer (opens new tab/window)" href="https://nano.org/en/explore/block/{{ block.hash() }}">
        <img src="{{ url_for('static', filename='images/nano_org.png') }}">
    </a>
{%- endmacro -%}
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper-1.12.9.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>