{% extends "base.html" %}

{% block head %}
    <title>{{block.hash()}}</title>
{% endblock %}

{% block body %}


<div class='container'>
    <div class='page-header'>
        <h4>Block {{ block.hash() }} {{ nano_org_block(block) }}</h4>
    </div>

<table class='table table-sm'>
<tbody>
    <tr>
        <th align='left'>Account 
        <td><a class="button" href="/block/{{account.first_block().id}}">&larrb;</a>
            <a class="button" href="/block/{{account.last_block().id}}">&rarrb;</a>
            {{ account | account_link }}
            {{ nano_org_account(account) }}
    </tr>
    <tr>
        <th align='left'>Chain index
        <td>{{chain_index}}
    </tr>
    <tr>
        <th align='left'>Global index
        <td>{{global_index}}
    </tr>
    {% if previous %}
    <tr>
        <th align='left'>&#8678; Previous 
        <td><a href="/block/{{previous.id}}">{{ previous.hash() }}</a>{{ nano_org_block(previous) }}
    </tr>
    {% endif %}
    {% if next %}
    <tr>
        <th align='left'>&#8680; Next 
        <td><a href="/block/{{next.id}}">{{ next.hash() }}</a>{{ nano_org_block(next) }}
    </tr>
    {% endif %}
</tbody>
</table>
</div>

<div class='container'>

<table class='table table-striped table-sm'>
<tr>
    <th>Field
    <th>Value
</tr>
<tr>
    <td>Type
    <td>{{block.type}}
</tr>

{% if block.type in ["open","receive"] %}
    {% set source = block.sister() %}
    <tr>
        <td>Source
        {% if source %}
        <td><a href="/block/{{source.id}}">{{source.hash()}}</a>{{ nano_org_block(source) }}
        {% else %}
        <td><i>Undefined</i>
        {% endif %}
    </tr>
{% endif %}

{% if block.type == "send" %}
    {% set destination = block.destination() %}
    {% set sister = block.sister() %}
    {% set destname = destination.address | account_name %}
    <tr>
        <td>Destination
        <td>{{ destination | account_link }} {{ nano_org_account(destination) }}
    </tr>
    <tr>
        <td>Sister block
        {% if sister %}
            <td><a href="/block/{{sister.id}}">{{ sister.hash() }}</a>{{ nano_org_block(sister) }}
        {% else %}
            <td><i>Not pocketed</i>
        {% endif %}
    </tr>
    <tr>
        <td>Amount
        <td style="color: #ff0000">{{ block.amount() | format_amount6 }} XRB
    </tr>
    <tr>
        <td>Balance (after send)
        <td>{{ block.balance() | format_amount6 }} XRB
    </tr>
{% endif %}
<table>

</div>

{% endblock %}
