<html>
<head>
    <title>{{block.hash()}}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>


<h2>Block {{block.hash()}} <a class="button" href="https://nano.org/en/explore/block/{{block.hash()}}">&nearr;</a></h2>

<table>
    <tr>
        <th align='left'>Account 
        <td>{% if account.name() %}{{account.name()}} ({% else %}account{%endif%}<a href="/account/{{account.id}}">{{account.address}}</a>{% if account.name() %}){%endif%}
            <a class="button" href="/block/{{account.first_block().id}}">&larrb;</a>
            <a class="button" href="https://nano.org/en/explore/account/{{account.address}}">&nearr;</a>
    </tr>
    <tr>
        <th align='left'>Chain index
        <td>{{sequence}}
    </tr>
    {% if previous %}
    <tr>
        <th align='left'>&lt;&lt; Previous 
        <td><a class="button" href="/block/{{previous.id}}">{{previous.hash()}}</a>
    </tr>
    {% endif %}
    {% if next %}
    <tr>
        <th align='left'>Next &gt;&gt;
        <td><a class="button" href="/block/{{next.id}}">{{next.hash()}}</a>
    </tr>
    {% endif %}
</table>


<p>
<table>
<tr>
    <th>Field
    <th>Value
</tr>
<tr>
    <td>Type
    <td>{{block.type}}
</tr>
{% if block.type in ["open","receive"] %}
    {% set source = block.other() %}
    <tr>
        <td>Source
        {% if source %}
        <td><a href="/block/{{source.id}}">{{source.hash()}}</a>
        {% else %}
        <td><i>Undefined</i>
        {% endif %}
    </tr>
{% endif %}
{% if block.type == "send" %}
    {% set destination = block.destination() %}
    {% set other = block.other() %}
    {% set destname = destination.address | account_name %}
    <tr>
        <td>Destination
        <td><a href="/account/{{destination.id}}">{% if destname %}{{destname}} ({{destination.address}}){% else %}{{destination.address}}{% endif %}</a> 
    </tr>
    <tr>
        <td>Other
        {% if other %}
        <td><a href="/block/{{other.id}}">{{other.hash()}}</a>
        {% endif %}
    </tr>
    <tr>
        <td>Balance (after send)
        <td>{{ "{:,}".format(block.balance())}} XRB
    </tr>
{% endif %}
<table>

</body>
</html>