{% extends "base.html" %}

{% block head %}
    <title>Known accounts</title>
{% endblock %}

{% block body %}

<div class="container">

<h1>Known accounts</h1>

<table class="table table-striped table-sm table-hover">
<thead>
<tr>
    <th>Name
    <th>Address
</tr>
</thead>
<tbody>
{% for id, address, name in accounts %}
    <tr>
        <td><a href="/account/{{id}}">{{name}}</a>
        <td><a href="/account/{{id}}">{{address}}</a>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}